ul, ol, dl {
  margin-bottom: 0px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nav {
  z-index: 2;
  width: 100%;
  margin: 0 0 3em 0;
  padding: 0;
  margin:0 auto;
  list-style: none;
  text-align: center
}

.nav ul {
  display: inline-block !important;
}

.nav li {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  float: left;
}

.nav li a {
  display:block;
  text-align:center;
  width:150px; /* fixed width */
  text-decoration:none;
}

#altered-banner {
  width: 60%;
  border: none;
  box-shadow: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#header-wrap {
  /* pretty colors */
  background: #2cb;
  background: -moz-linear-gradient(left, #9cff00, #fcf900, #fca600, #ff2ea9);
  background: -webkit-linear-gradient(left, #9cff00, #fcf900, #fca600, #ff2ea9);
  background: -ms-linear-gradient(left, #9cff00, #fcf900, #fca600, #ff2ea9);
  background: -o-linear-gradient(left, #9cff00, #fcf900, #fca600, #ff2ea9);
  background: linear-gradient(left, #9cff00, #fcf900, #fca600, #ff2ea9);
}

#dynamic-header-wrap {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 100%;

  /* pretty colors */
  background: #2cb;
  background: -moz-linear-gradient(left, #9cff00, #fcf900, #fca600, #ff2ea9);
  background: -webkit-linear-gradient(left, #9cff00, #fcf900, #fca600, #ff2ea9);
  background: -ms-linear-gradient(left, #9cff00, #fcf900, #fca600, #ff2ea9);
  background: -o-linear-gradient(left, #9cff00, #fcf900, #fca600, #ff2ea9);
  background: linear-gradient(left, #9cff00, #fcf900, #fca600, #ff2ea9);
}

#dynamic-header-wrap .inner {
  padding: 4em 10px 45px 10px;
  /* don't block the nav bar */
  z-index: -1
}

#header-teaser-banner {
  margin-bottom: 2em;
}

.header-teaser-text {
  font-size: 2em;
  font-family: 'Acme', sans-serif;
}

#map {
  overflow: hidden;
  height: 500px;
  width: 95%;
  margin-bottom: 2em;
}

#gmap_canvas {
  height:500px;
  width:600px;
}

#gmap_canvas img {
   max-width:none!important;
   background:none!important;
}

.author {
  text-align: right;
  color: #333;
}

.recordings {
  list-style-type: none;
}

.recording img {
  border: none;
  box-shadow: none;
  height: 3%;
  width: 3%;
  margin-bottom: -1.5%;
}

.recording:hover {
  text-decoration: none;
}
