ul, ol, dl {
  margin-bottom: 0px;
}

h1, h2, h3, h4 {
  font-family: 'Acme', sans-serif;
}

#header-wrap-2016 {
  /* pretty colors */
  background: #2cb;
  background: -moz-linear-gradient(to right bottom, #9cff00, #fcf900, #fca600, #ff2ea9);
  background: -webkit-linear-gradient(to right bottom, #9cff00, #fcf900, #fca600, #ff2ea9);
  background: -ms-linear-gradient(to right bottom, #9cff00, #fcf900, #fca600, #ff2ea9);
  background: -o-linear-gradient(to right bottom, #9cff00, #fcf900, #fca600, #ff2ea9);
  background: linear-gradient(to right bottom, #9cff00, #fcf900, #fca600, #ff2ea9);
}

#main_content_wrap-2016 {
  display: inline-block;
  /*background: #f2f2f2;*/
  background: -moz-linear-gradient(to right top, #9cff00, #fcf900, #fca600, #ff2ea9);
  background: -webkit-linear-gradient(to right top, #9cff00, #fcf900, #fca600, #ff2ea9);
  background: -ms-linear-gradient(to right top, #9cff00, #fcf900, #fca600, #ff2ea9);
  background: -o-linear-gradient(to right top, #9cff00, #fcf900, #fca600, #ff2ea9);
  background: linear-gradient(to right top, #9cff00, #fcf900, #fca600, #ff2ea9);
}

#header-wrap-2017 {
  background: -moz-linear-gradient(to right bottom, palegreen, orange, deeppink, purple);
  background: -webkit-linear-gradient(to right bottom, palegreen, orange, deeppink, purple);
  background: -ms-linear-gradient(to right bottom, palegreen, orange, deeppink, purple);
  background: -o-linear-gradient(to right bottom, palegreen, orange, deeppink, purple);
  background: linear-gradient(to right bottom, palegreen, orange, deeppink, purple);
}

#main-content-wrap-2017 {
  display: inline-block;
  background: -moz-linear-gradient(to right top, purple, deeppink, orange, palegreen);
  background: -webkit-linear-gradient(to right top, purple, deeppink, orange, palegreen);
  background: -ms-linear-gradient(to right top, purple, deeppink, orange, palegreen);
  background: -o-linear-gradient(to right top, purple, deeppink, orange, palegreen);
  background: linear-gradient(to right top, palegreen, orange, deeppink, purple);
}

#main_content {
  margin-top: 1em;
  padding-top: 10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* nav stuff */
#nav-button {
  z-index: 3;
  position: fixed;
  top: 2%;
  right: 2%;
  font-size: 3em;
  cursor: pointer;
}

#nav {
  z-index: 2;
  position: fixed;
  top: 3%;
  right: 3%;
  font-size: 1.7em;
  margin-right: auto;
  margin-left: auto;
  text-align: right;
  font-family: 'Chau Philomene One', 'sans-serif';
  border:none;
  font-weight: bold;
}

#nav ul {
  list-style: none;
  padding-left: 0;
}

#nav ul li {
  padding: 0.2em;
}

#nav li a {
  color: purple;
  text-align:center;
  text-decoration:none;
}

#most-recent-badge {
  z-index: 1;
  font-family: 'Acme', 'sans-serif';
  font-size: 1.5em;
  color: black;
  text-align: center;
  position: fixed;
  top: 6%;
  right: 4%;
}

#altered-banner {
  width: 60%;
  border: none;
  box-shadow: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#header-wrap-2017 {
  min-height: 100vh;
}

#header-wrap-2017 .inner {
  /* don't block the nav bar */
  max-width: 60%;
}

#header-teaser-banner {
  margin-bottom: 2em;
}

.header-teaser-text {
  font-family: 'Chau Philomene One', 'sans-serif';
  font-size: 2.1em;
}

/*-- shared --*/

.sub-section {
  padding: 1em;
  margin-bottom: 1.5em;
  background: rgba(255,255,255,0.23);
}

#map {
  overflow: hidden;
  height: 500px;
  width: 95%;
  margin-bottom: 2em;
}

#gmap_canvas {
  height:500px;
  width:600px;
}

#gmap_canvas img {
   max-width:none!important;
   background:none!important;
}

.author {
  text-align: right;
  color: #333;
}

.recordings {
  list-style-type: none;
}

.recording img {
  border: none;
  box-shadow: none;
  height: 3%;
  width: 3%;
  margin-bottom: -1.5%;
}

.recording:hover {
  text-decoration: none;
}

.hide {
  display: none;
}

#iframe-video {
  min-width: 85%;
  min-height: 300px;
}
