/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 320px) {
  .header-teaser-text {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 360px) {
  #body-2017 .inner {
    max-width: 85%;
  }

  .sub-section {
    max-width: 90%;
  }

  #header-logo {
    width: 80%;
  }
}

@media screen and (max-width: 640px) {
  .header-teaser-text {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 768px) {
  .inner {
    max-width: 80%;
  }

  #topics-wrap .topic {
    width: 100%;
    float: none;
  }
}

@media screen and (max-width: 960px) {
  body {
    font-size:14px;
  }

  #main-content {
    margin-top: 2em;
  }

  #nav {
    padding-top: 4%;
  }

  #project_title {
    font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

  /* most recent badge at lower width screen */
  #most-recent-badge {
    z-index: 2;
    background: red;
    position: fixed;
    width: 100%;
    top: 94% !important;
    right: 0;
    height: 2em;
    padding-top: 0.5em;
  }
}

@media screen and (max-width: 1400px) {
  .header-teaser-text {
    font-size: 1.8em;
  }
}
